@forward '~/assets/index.scss';

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.loading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.spinner {
		width: 120px;
		height: 120px;
	}

	h1 {
		background-color: var(--color-background-soft);
		padding: 10px;

		.version {
			color: var(--ev-c-text-2);
		}
	}
}
