@use '@/assets/base.scss';

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: var(--color-background);
	height: 100vh;
	color: var(--color-text);
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.loading-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spinner {
	animation: spin 2s linear infinite;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid var(--color-text); /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
