@use '~/assets/base.scss';

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./wavy-lines.svg');
	background-size: cover;
	// overflow: hidden;
	// user-select: none;
}

code {
	border-radius: 2px;
	background-color: var(--color-background-mute);
	padding: 3px 5px;
	font-weight: 600;
	font-size: 85%;
	font-family:
		ui-monospace,
		SFMono-Regular,
		SF Mono,
		Menlo,
		Consolas,
		Liberation Mono,
		monospace;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}
